#include "zmk-nodefree-config-main/keypos_def/keypos_36keys.h"

#define COMBO_TERM_FAST 35
#define COMBO_TERM_SLOW 40
#define COMBO_GLOBAL_QUICKTAP 100

/ {
  combos {
    compatible = "zmk,combos";

    combo_percent {
      timeout-ms = <COMBO_TERM_FAST>;
      global-quick-tap-ms = <COMBO_GLOBAL_QUICKTAP>;

      key-positions = <LT4 LT3>;
      layers = <ALL>;
      bindings = <&kp PERCENT>;
    };

    combo_caret {
      timeout-ms = <COMBO_TERM_FAST>;
      global-quick-tap-ms = <COMBO_GLOBAL_QUICKTAP>;

      key-positions = <LM4 LM3>;
      layers = <ALL>;
      bindings = <&kp CARET>;
    };

    combo_exclamation {
      timeout-ms = <COMBO_TERM_SLOW>;
      global-quick-tap-ms = <COMBO_GLOBAL_QUICKTAP>;

      key-positions = <LB4 LB3>;
      layers = <ALL>;
      bindings = <&kp EXCLAMATION>;
    };

    combo_backslash {
      timeout-ms = <COMBO_TERM_FAST>;
      global-quick-tap-ms = <COMBO_GLOBAL_QUICKTAP>;

      key-positions = <LT3 LT2>;
      layers = <ALL>;
      bindings = <&kp BACKSLASH>;
    };

    combo_dollar {
      timeout-ms = <COMBO_TERM_FAST>;
      global-quick-tap-ms = <COMBO_GLOBAL_QUICKTAP>;

      key-positions = <LM3 LM2>;
      layers = <ALL>;
      bindings = <&kp DOLLAR>;
    };

    combo_at_the_rate {
      timeout-ms = <COMBO_TERM_SLOW>;
      global-quick-tap-ms = <COMBO_GLOBAL_QUICKTAP>;

      key-positions = <LB3 LB2>;
      layers = <ALL>;
      bindings = <&kp AT>;
    };

    combo_bracket_round_l {
      timeout-ms = <COMBO_TERM_FAST>;
      global-quick-tap-ms = <COMBO_GLOBAL_QUICKTAP>;

      key-positions = <LM2 LM1>;
      layers = <ALL>;
      bindings = <&kp LPAR>;
    };

    combo_bracket_round_r {
      timeout-ms = <COMBO_TERM_FAST>;
      global-quick-tap-ms = <COMBO_GLOBAL_QUICKTAP>;

      key-positions = <RM1 RM2>;
      layers = <ALL>;
      bindings = <&kp RPAR>;
    };

    combo_bracket_square_l {
      timeout-ms = <COMBO_TERM_SLOW>;
      global-quick-tap-ms = <COMBO_GLOBAL_QUICKTAP>;

      key-positions = <LB2 LB1>;
      layers = <ALL>;
      bindings = <&kp LBKT>;
    };

    combo_bracket_square_r {
      timeout-ms = <COMBO_TERM_SLOW>;
      global-quick-tap-ms = <COMBO_GLOBAL_QUICKTAP>;

      key-positions = <RB1 RB2>;
      layers = <ALL>;
      bindings = <&kp RBKT>;
    };

    combo_bracket_curly_l {
      timeout-ms = <COMBO_TERM_SLOW>;
      global-quick-tap-ms = <COMBO_GLOBAL_QUICKTAP>;

      key-positions = <LT2 LT1>;
      layers = <ALL>;
      bindings = <&kp LBRC>;
    };

    combo_bracket_curly_r {
      timeout-ms = <COMBO_TERM_SLOW>;
      global-quick-tap-ms = <COMBO_GLOBAL_QUICKTAP>;

      key-positions = <RT2 RT1>;
      layers = <ALL>;
      bindings = <&kp RBRC>;
    };

    combo_bracket_angled_l {
      timeout-ms = <COMBO_TERM_SLOW>;
      global-quick-tap-ms = <COMBO_GLOBAL_QUICKTAP>;

      key-positions = <LM1 LM0>;
      layers = <ALL>;
      bindings = <&kp LT>;
    };

    combo_bracket_angled_r {
      timeout-ms = <COMBO_TERM_SLOW>;
      global-quick-tap-ms = <COMBO_GLOBAL_QUICKTAP>;

      key-positions = <RM1 RM0>;
      layers = <ALL>;
      bindings = <&kp GT>;
    };

    combo_equal {
      timeout-ms = <COMBO_TERM_FAST>;
      global-quick-tap-ms = <COMBO_GLOBAL_QUICKTAP>;

      key-positions = <RT3 RT2>;
      layers = <ALL>;
      bindings = <&kp EQUAL>;
    };

    combo_semicolon {
      timeout-ms = <COMBO_TERM_FAST>;
      global-quick-tap-ms = <COMBO_GLOBAL_QUICKTAP>;

      key-positions = <RM3 RM2>;
      layers = <ALL>;
      bindings = <&kp SEMICOLON>;
    };

    combo_slash {
      timeout-ms = <COMBO_TERM_SLOW>;
      global-quick-tap-ms = <COMBO_GLOBAL_QUICKTAP>;

      key-positions = <RB3 RB2>;
      layers = <ALL>;
      bindings = <&kp SLASH>;
    };

    combo_plus {
      timeout-ms = <COMBO_TERM_FAST>;
      global-quick-tap-ms = <COMBO_GLOBAL_QUICKTAP>;

      key-positions = <RT3 RT2>;
      layers = <ALL>;
      bindings = <&kp PLUS>;
    };

    combo_colon {
      timeout-ms = <COMBO_TERM_FAST>;
      global-quick-tap-ms = <COMBO_GLOBAL_QUICKTAP>;

      key-positions = <RM3 RM2>;
      layers = <ALL>;
      bindings = <&kp COLON>;
    };

    combo_question {
      timeout-ms = <COMBO_TERM_SLOW>;
      global-quick-tap-ms = <COMBO_GLOBAL_QUICKTAP>;

      key-positions = <RB3 RB2>;
      layers = <ALL>;
      bindings = <&kp QUESTION>;
    };
    
    combo_return {
      timeout-ms = <COMBO_TERM_FAST>;
      global-quick-tap-ms = <COMBO_GLOBAL_QUICKTAP>;

      key-positions = <RB4 RB3>;
      layers = <ALL>;
      bindings = <&kp RETURN>;
    };
  };
};
