#include "zmk-nodefree-config-main/keypos_def/keypos_36keys.h"

#define COMBO_TERM_FAST 35
#define COMBO_TERM_SLOW 40
#define COMBO_GLOBAL_QUICKTAP 100

/ {
  combos {
    compatible = "zmk,combos";

    combo_bracket_round_l {
      timeout-ms = <COMBO_TERM_FAST>;
      global-quick-tap-ms = <COMBO_GLOBAL_QUICKTAP>;

      key-positions = <LM2 LM1>;
      layers = <ALL>;
      bindings = <&kp LPAR>;
    };

    combo_bracket_round_r {
      timeout-ms = <COMBO_TERM_FAST>;
      global-quick-tap-ms = <COMBO_GLOBAL_QUICKTAP>;

      key-positions = <RM1 RM2>;
      layers = <ALL>;
      bindings = <&kp RPAR>;
    };

    combo_bracket_square_l {
      timeout-ms = <COMBO_TERM_SLOW>;
      global-quick-tap-ms = <COMBO_GLOBAL_QUICKTAP>;

      key-positions = <LB2 LB1>;
      layers = <ALL>;
      bindings = <&kp LBKT>;
    };

    combo_bracket_square_r {
      timeout-ms = <COMBO_TERM_SLOW>;
      global-quick-tap-ms = <COMBO_GLOBAL_QUICKTAP>;

      key-positions = <RB1 RB2>;
      layers = <ALL>;
      bindings = <&kp RBKT>;
    };

    combo_bracket_curly_l {
      timeout-ms = <COMBO_TERM_SLOW>;
      global-quick-tap-ms = <COMBO_GLOBAL_QUICKTAP>;

      key-positions = <LT2 LT1>;
      layers = <ALL>;
      bindings = <&kp LBRC>;
    };

    combo_bracket_curly_r {
      timeout-ms = <COMBO_TERM_SLOW>;
      global-quick-tap-ms = <COMBO_GLOBAL_QUICKTAP>;

      key-positions = <RT2 RT1>;
      layers = <ALL>;
      bindings = <&kp RBRC>;
    };

    combo_bracket_angled_l {
      timeout-ms = <COMBO_TERM_SLOW>;
      global-quick-tap-ms = <COMBO_GLOBAL_QUICKTAP>;

      key-positions = <LM1 LM0>;
      layers = <ALL>;
      bindings = <&kp LT>;
    };

    combo_bracket_angled_r {
      timeout-ms = <COMBO_TERM_SLOW>;
      global-quick-tap-ms = <COMBO_GLOBAL_QUICKTAP>;

      key-positions = <RM1 RM0>;
      layers = <ALL>;
      bindings = <&kp GT>;
    };

    combo_capsword {
      timeout-ms = <COMBO_TERM_SLOW>;
      global-quick-tap-ms = <COMBO_GLOBAL_QUICKTAP>;

      key-positions = <LM1 RM1>;
      layers = <ALL>;
      bindings = <&kp CAPSLOCK>;
    };

    combo_return {
      timeout-ms = <COMBO_TERM_FAST>;
      global-quick-tap-ms = <COMBO_GLOBAL_QUICKTAP>;

      key-positions = <LH2 LH1 LH0>;
      layers = <ALL>;
      bindings = <&kp RET>;
    };

    combo_bspc {
      timeout-ms = <COMBO_TERM_FAST>;
      global-quick-tap-ms = <COMBO_GLOBAL_QUICKTAP>;

      key-positions = <LH1 LH0>;
      layers = <ALL>;
      bindings = <&kp BSPC>;
    };
  };
};
