if SHIELD_MINIDOV_LEFT

config ZMK_KEYBOARD_NAME
    default "MINIDOV"

config ZMK_SPLIT_ROLE_CENTRAL
    default y

endif

if SHIELD_MINIDOV_RIGHT

config ZMK_KEYBOARD_NAME
    default "MINIDOV_R"

config ZMK_SPLIT_ROLE_CENTRAL
    default n

endif

if SHIELD_MINIDOV_LEFT || SHIELD_MINIDOV_RIGHT

config ZMK_SPLIT
    default y

endif
