#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/{
        keymap {
                compatible = "zmk,keymap";

                default_layer {
                        bindings = <
&kp Q &kp W &kp F &kp P &kp B           &kp J &kp L &kp U &kp Y &kp BACKSPACE
&kp A &kp R &kp S &kp T &kp G           &kp M &kp N &kp E &kp I &kp O
&kp Z &kp X &kp C &kp D &kp V           &kp K &kp H &kp COMMA &kp PERIOD &kp SLASH
&kp P &kp Q &kp ESCAPE &kp SPACE        &kp RETURN  &kp BACKSPACE &kp DELETE &kp H &kp I &kp J
                        >;
                };
        };        
};